- const titles = ['Statistics', 'Customers', 'Messages', 'Help', 'Settings', 'Password', 'Sign Out'];

- const icons = ['fa-chart-pie', 'fa-users', 'fa-comment', 'fa-question-circle', 'fa-cog', 'fa-unlock-alt', 'fa-sign-out-alt'];

- const products = ['LG Refrigerator', 'Window Coolers', 'Speakers', 'HP Laptop', 'Desk', 'Woody Bookcase', 'Smart Watch', 'Portable Phone Charger', 'QLED 4K TV'];

- const prices = ['$1200', '$110', '$620', '$750', '$69', '$139', '$49', '$16', '$500'];

- const payments = ['Paid', 'Due', 'Paid', 'Due', 'Paid', 'Paid', 'Due', 'Paid', 'Due'];

- const status = ['Delivered', 'Pending', 'Return', 'In Progress', 'Delivered', 'Pending', 'Return', 'In Progress', 'Pending'];